apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: network
  namespace: flux-system
spec:
  interval: 5m
  serviceAccountName: kustomize-controller
  wait: true
  prune: true
  path: ./infrastructure/svm-k8s-lab/network
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: bases
